@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&family=Sarabun:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer mantine, mantine-datatable;

@layer base {
  html {
    font-family: "Noto Sans Thai", serif;
    font-optical-sizing: auto;
  }
}

.sarabun-regular {
  font-family: "Sarabun", serif;
  font-weight: 400;
  font-style: normal;
}

@media print {

  @page {
    margin-left: 10mm;
    margin-right: 10mm;
    margin-top: 5mm;
    margin-bottom: 5mm;
  }
  
  .page-break {
    page-break-before: always; /* ใช้สำหรับเบราว์เซอร์เก่า */
    break-before: page; /* ใช้สำหรับเบราว์เซอร์ใหม่ */
  }
  .page-break-auto {
    break-inside: avoid; /* ป้องกันไม่ให้เนื้อหาโดนตัดกลางหน้า */
    page-break-inside: avoid; /* รองรับเบราว์เซอร์เก่า */
  }
}
